.red{
  background-color: red;
  height:20px;
  width:100px;
}
.red1{
  background-color: green;
  height:20px;
  width:60px;
}
.red2{
  background-color: yellow;
  height:20px;
  width:30px;
}
